.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/games
.emacs.d/url
.emacs.d/eshell
.emacs.d/*.last
.emacs.d/*.dat
.emacs.d/recentf
.emacs.d/savehist
.emacs.d/tramp
.emacs.d/.cask
.emacs.d/bookmarks
.emacs.d/vimish-fold
